.main a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #4c4c4c;
  display: block;
  background: #191919;
  font-family: 'bebas neue';
  margin-left: 70%;
  margin-right: 20%;
  border-radius: 5%;
}

.main a:hover {
  color: #ffd700;
  background: #4c4c4c;
}